<li class="{{if beer.isAvailable '' 'not-available'}}">
  {{#link-to 'beers.beer' beer.id}}{{beer.name}}{{/link-to}}!
    <button {{action 'toggleAvailability' beer}}>
      {{if beer.isAvailable 'Make Unavailable' 'Make available'}}
    </button>
</li>
