@import url("beer-list.css")

#explanation {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 10px;
}

.medium-text-area {
  height: 50px;
  width: 300px;
}

/*button {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #4CAF50;
}*/
.not-available {
  color: #BBB;
}

.not-available a {
  color: #BBB;
}

.beer-item {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 250px;
  padding: 4px;
  margin: 5px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.beer-item .title-bar {
  font-size: 1.3em;
}

.beer-item .description {
  padding: 8px;
}

.img-icon {
  max-width: 150px;
  max-height: 150px;
  px;
  padding: 5px;
  float: left;
}

.description {
  min-height: 70px;
}

.email-status {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
