@import url("beer-list.css")

#explanation {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 10px;
}

.medium-text-area {
  height: 50px;
  width: 300px;
}

/*button {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #4CAF50;
}*/
