<div class="flex-container">
  <div class="flex-item">

    <h1>Breweries</h1>

    <ul>
      {{#each model as |brewery|}}
        {{#link-to 'breweries.brewery' brewery.id}}<li>{{brewery.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
  </div>
  <div class="flex-item">
    {{outlet}}
</div>
</div>
