<div class="flex-container">
  <div class="flex-item">

    <h1>Breweries</h1>


    {{#each model as |brewery|}}
      <div class="brewery-item">
        {{#link-to 'breweries.brewery' brewery.id}}{{brewery.name}}{{/link-to}}
      </div>
    {{/each}}

  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
